.icon-raw {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.icon-raw_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-raw_icon i {
  font-size: 35px;
}

.icon-raw_icon span {
  margin-top: 18px;
}
